body{font-family: 'Fjalla One', sans-serif}
.civa{width:960px;height:450px;background:#f1f1ef;border-radius: 10px;margin:auto; }
.leyenda{width: 100%;height: 50px;padding: 10px 30px;box-sizing: border-box;}
.img{position: relative;width: 180px;height: 30px;float: left;margin-right: 20px; }
h4{position: absolute;margin:0;top: 12px;left: 33px;text-transform: uppercase;color: #555;font-size: 13px}
.bus{width: 100%;height: 250px;position: relative;top:5px;}
.cabeza{position: absolute;left: 20%}
.cuerpo{position: absolute;background: #fff;height: 196px;width: 57.5%;left: 26.3%;top:12px;}
.borde{border-radius: 5px;border-top-left-radius: 0;border-bottom-left-radius: 0;border-top: 1px solid #cdcdcd;border-bottom: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd}
p{padding: 3px;margin-top: 0;margin-bottom: 0;text-align: center;color: red;font-size: 14px}
.iu-asiento{background: url('asiento.png')no-repeat;}
.asiento-acupado{background: url('asiento_no_disponible.png')no-repeat;}
.asiento-seleccionado{background: url('asiento_seleccionado.png')no-repeat;}
.op-asiento{cursor: pointer;}
h5{font-size: 10px;margin:0;padding-left: 4px;color:#666666;}
td{width: 34px;height: 28px;margin-right: 8px;}
.sal{width: 100%;height: 130px;position: absolute;top: 250px;}
.salida{width: 170px;height: 90px;margin-top: 0px;padding: 0 50px}
.color{color:#000;}
.totales{width: 230px;height: 70px;float: right;margin-right: 70px;margin-top: -105px}
a{text-decoration: none;background: red;padding: 10px 25px;color: white;border-radius: 5px;float: right;margin-right: 65px;margin-top: -20px}
.cabeza1{position: absolute;left: 10%}
.piso1{position: absolute;left: 16%;width: 180px;background: #fff;height: 196px;top:12px;}
.cuerpo1{position:absolute;width: 56%;left:35.7%;background: #fff;top: 12px;height: 196px;border-radius: 5px;border:1px solid #cdcdcd;}
.cabeza2{position: absolute;left: 20%}
.piso2{position: absolute;left: 26%;width: 180px;background: #fff;height: 196px;top:12px;}
.cuerpo2{position:absolute;width: 32%;left:45.7%;background: #fff;top: 12px;height: 196px;border-radius: 5px;border:1px solid #cdcdcd;}